@charset "utf-8";

body {
  margin-bottom: 200px;
}

/* header */
html {
  min-height: 100%;
  position: relative;
}

/* main */

main .container {
  margin-top: 50px;
}

main .title {
  display: inline-block;
  padding: 10px;
  border-bottom: solid 1px #ccc;
}

/* footer */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: solid 1px #ccc;
  background-color: #eee;
}

.footer .container {
  text-align: center;
}
