<!doctype html>
<html ng-app="adminApp">
  <head>
    <meta charset=“utf-8”>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="../js/controller/top.js"></script>
    <link rel="stylesheet" href="figure.css" type="text/css">
  </head>
  <body>
    <header style="background: red">
      <div>
        <p>header領域</p>
      </div>
    </header>
    <div>
      テスト
    </div>
    <footer style="background: blue">
      <div>
        <p>footer領域</p>
      </div>
    </footer>
  </body>
</html>
